<!doctype html>
<html lang="en">
  <head>
    <title>Spooooky Kitties! | {{ title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/site.css" />
  </head>
  <body style="text-align: center">


    <header>
      <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/blog">Blog</a>
      </nav>
    </header>
    {{ content | safe }}
  </body>
</html>